canvas {
  background-color: white;
}

button {
  padding: 0.25rem 0.5rem;
  border: 3px solid #f1f1f1;
  color: #f1f1f1;
  font-size: 1rem;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.2s linear;
}

button:hover {
  background-color: #f1f1f1;
  color: #1f1f1f;
  transition: all 0.2s linear;
}